body, html {
    margin: 0;
    padding: 0;
    background: url('../images/huh.jpeg') top right no-repeat; 
    background-attachment:fixed;
    background-size: 100% 100%;
    color: white;
}
.gameTitle {
    position: absolute;
    right: 20%;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
h1 {
    font-weight: bold;
    font-size: 25px;
}
.enemyLabel {
    font-weight: bold;
    font-size: 25px;
    /*border-bottom: 1px solid black;*/
}
.fightBoxLabel {
    position: absolute;
    top: 48%;
    left: 48%;
    font-weight: bold;
    font-size: 25px;
    /*border-bottom: 1px solid black;*/
    width: 100%;
    margin: 0 auto;
}
.mainContent {
    margin-left: 15px;
    margin-top: 15px;
}
.characterImage {
    margin: 0 auto;
    margin-left: 15px;
    width: 100px;
    height: 100px;
}
.characterBox {
    position: relative;
    width: 100%;
    height: 140px;
    /*border: 1px solid black;*/
}
.charactersBox {
    margin-top: 20px;
    width: 130px;
    height: 138px;
    background-color: green;
    border: 1px solid green;
    margin-right: 5px;
    float: left;
    padding-bottom: 5px;
}
.nameHp {
    margin: 0 auto;
    text-align: center;
 }
.enemyBox {
    position: absolute;
    top: 181px;
    width: 100%;
    height: 165px;
    /*border: 1px solid black;*/
}
.fightBoxL {
    position: absolute;
    top: 48%;
    left: 38%;
    width: 50%;
    height: 139px;
    /*border: 1px solid black;*/
}
.fightBoxR {
    position: absolute;
    top: 48%;
    right: 0;
    left: 53%;
    height:139px;
    width: 50%;
    /*border: 1px solid black;*/
}
.fightText {
    position: absolute;
    top: 35%;
    left: 35%;
    width: 33%;
    height: 25%;
    /*border: 1px solid white;*/
    color: white;
    font-size: 20px;
}
.attack {
    height: 25px;
    width: 60px;
    font-weight: bold;
    position: absolute;
    left: 48%;
    top: 535px;
}
.restart {
    height: 25px;
    width: 60px;
    font-weight: bold;
    position: absolute;
    top: 585px;
    left:48%;
}

